#Do I go back and delete things already put into the repo
#that I don't want there anymore at this point?

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.db
.vent/
venv/
.env
var.env
*.env
*.log

# Testing
.pytest_cache/
.mypy_cache/
.coverage

# SQLite data
/data/
games.db

# Mongo data
/mongo_data/

# OS/editor files
.DS_Store
Thumbs.db
.vscode/
.idea/

# Misc
.idea/
.idea\workspace.xml
.idea/workspace.xml
.idea/workspace.xml
